* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100vw;
  height: 12vh;
  background-color: rgb(204, 240, 250);
  position: fixed;
  top: 0px;
}
#logo {
  float: left;
  position: relative;
  left: 30vh;
  margin-top: 30px;
}
#menu {
  float: right;
  margin-top: 20px;
  font-size: 1.2rem;
}
span {
  margin-left: 20px;
}
span:hover {
  background-color: rgb(63, 224, 165);
  cursor: pointer;
}
.btn {
  margin-left: 300px;
  margin-right: 250px;
  padding: 15px;
  background-color: rgba(12, 202, 126, 0.738);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.btn:hover {
  background-color: rgb(16, 210, 126);
  cursor: pointer;
}
#mid1 {
  background-color: rgb(179, 255, 230);
  text-align: center;
  display: flex;
  width: 100vw;
  height: 90vh;
}
#text {
  float: left;
  margin-left: 20px;
  margin-top: 250px;
  padding: 20px;
}
#img {
  text-align: right;
  float: center;
  width: 2vw;
  height: 2vh;
  padding: 100px;
}
.primary-text {
  font-size: 3rem;
  color: rgb(24, 24, 24);
}
.secondary-text {
  font-size: 2.5rem;
}
#text2 {
  padding-top: 15px;

}
.btn1 {
  margin-left: 25px;
  margin-top: 80px;
  padding: 10px;
  background-color: rgba(12, 202, 126, 0.738);
  border-radius: 10px;
  color: white;
  font-size: 25px;
  text-align: center;
}
.btn1:hover {
  background-color:  rgb(16, 210, 126);
  cursor: pointer;
}
h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 50px;
}
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;
}
.colum {
  padding: 80px;
  background-color: aqua;
}
footer{
  background-color:rgb(195, 231, 255);
  text-align: center;
  padding-top: 50px;
  width: 100vw;
  height: 25vh;
}
